/* Hamburger (left) */
.mobile-menu {
  width: 35px;
  height: auto;
  position: relative;
  bottom: 10%;
  /* shtrij listën në gjerësi të plotë */
}

@media (max-width: 768px) {
  .mobile-menu {
    display: inline-block;
  }
}

/* Hamburger icon (right) */
.mob-toggler {
  display: flex;
  color: #fff;
  position: absolute;
  right: 30px;
}

/* M-header */
.m-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

/* Optional: Brand styling */
.b-brand .b-title {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
